if TARGET_SUMMITSOM_IMX8MP

config SYS_BOARD
	default "summitsom_imx8mp"

config SYS_VENDOR
	default "summit"

config SYS_CONFIG_NAME
	default "summitsom_imx8mp"

config IMX_CONFIG
	default "board/summit/summitsom_imx8mp/imximage-8mp-lpddr4.cfg"

config SUMMIT_SOM_DVK
	bool "Summit SOM 8MP DVK support"
	help
	  Enable support for Summit SOM 8MP DVK board.

endif
