if TARGET_NITROGEN_IMX8MP

config SYS_BOARD
	default "nitrogen_imx8mp"

config SYS_VENDOR
	default "summit"

config SYS_CONFIG_NAME
	default "nitrogen_imx8mp"

config IMX_CONFIG
	default "board/summit/nitrogen_imx8mp/imximage-8mp-lpddr4.cfg"

endif
