if TARGET_NITROGEN_IMX93

config SYS_BOARD
	default "nitrogen_imx93"

config SYS_VENDOR
	default "summit"

config SYS_CONFIG_NAME
	default "nitrogen_imx93"

choice
	prompt "Nitrogen iMX93 Module Variant"
	default NITROGEN_IMX93_SMARC

config NITROGEN_IMX93_SMARC
	bool "SMARC"
	help
	  SMARC and OSM-M Module.

config NITROGEN_IMX93_OSM_S
	bool "OSM-S"
	help
	  OSM-S Module.

endchoice

endif
