#include <configs/som60sd_defconfig>

CONFIG_TARGET_IG60=y
CONFIG_DEFAULT_DEVICE_TREE="at91-ig60"
CONFIG_LOCALVERSION="-ig60sd-wbx3"
CONFIG_MTDPARTS_DEFAULT="mtdparts=atmel_nand:128k(spl)ro,512k(uboot)ro,128k(env),128k(env_redundant),508M(ubi)"
