#include <configs/som60_defconfig>

CONFIG_TEXT_BASE=0x26f00000
CONFIG_ENV_OFFSET=0xa0000
CONFIG_ENV_OFFSET_REDUND=0xc0000
CONFIG_SYS_LOAD_ADDR=0x21000000
CONFIG_LOCALVERSION="-ig60"
# CONFIG_DISPLAY_CPUINFO is not set
CONFIG_MTDPARTS_DEFAULT="mtdparts=atmel_nand:128k(u-boot-spl)ro,512k(u-boot)ro,128k(u-boot-env-a),128k(u-boot-env-b),508M(ubi)"
CONFIG_LED=y
CONFIG_LED_GPIO=y
