#include <configs/nitrogen_imx91_smarc_defconfig>

CONFIG_DEFAULT_DEVICE_TREE="nitrogen-imx91-osm-s"

CONFIG_NITROGEN_IMX91_SMARC=n
CONFIG_NITROGEN_IMX91_OSM_S=y

CONFIG_DM_PMIC_PF9453=y
CONFIG_SPL_DM_PMIC_PF9453=y
CONFIG_DM_REGULATOR_PF9453=y
CONFIG_SPL_DM_REGULATOR_PF9453=y

CONFIG_DM_PMIC_PCA9450=n
CONFIG_SPL_DM_PMIC_PCA9450=n
CONFIG_DM_REGULATOR_PCA9450=n
CONFIG_SPL_DM_REGULATOR_PCA9450=n
CONFIG_DM_PCA953X=n
