#include <configs/som60sd_defconfig>

CONFIG_SPL_SYS_MENU=y
CONFIG_SYS_MEMTEST_START=0x20500000
CONFIG_SYS_MEMTEST_END=0x27500000
CONFIG_LOCALVERSION="-som60sd_mfg"
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="loglevel=7"
CONFIG_CMD_MEMTEST=y
CONFIG_SYS_ALT_MEMTEST=y
