#include <configs/nitrogen_imx8mp_2g_r2_defconfig>

CONFIG_DEFAULT_DEVICE_TREE="summitsom-imx8mp-min"
CONFIG_TARGET_NITROGEN_IMX8MP=n
CONFIG_TARGET_SUMMITSOM_IMX8MP=y
CONFIG_OF_BOARD_SETUP=y
CONFIG_SUMMIT_SOM_DVK=y
