#include <configs/som60sd_defconfig>

CONFIG_TARGET_SOM60=n
CONFIG_TARGET_WB50N=y
CONFIG_ENV_SOURCE_FILE="wb50nsd_legacy"
CONFIG_DEFAULT_DEVICE_TREE="at91-wb50nsd"
CONFIG_LOCALVERSION="-wb50nsd_legacy-wbx3"
# CONFIG_AUTOBOOT is not set
CONFIG_CMD_FUSE=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_HASH=y
CONFIG_MTDPARTS_DEFAULT="mtdparts=atmel_nmtdparts=atmel_nand:128k(at91bs)ro,512k(u-boot)ro,128k(u-boot-env-a),128k(u-boot-env-b),5M(kernel-a),5M(kernel-b),48M(rootfs-a),48M(rootfs-b),21376k(user)"
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_AT91_FUSE=y
CONFIG_SYS_NAND_U_BOOT_LOCATIONS=y
CONFIG_SYS_NAND_U_BOOT_OFFS=0x20000
CONFIG_DM_ETH_PHY=y
CONFIG_MACB=y
# CONFIG_REGEX is not set
