#include <configs/som60_defconfig>

CONFIG_TARGET_SOM60=n
CONFIG_TARGET_WB50N=y
CONFIG_DEFAULT_DEVICE_TREE="at91-wb50n_sysd"
CONFIG_LOCALVERSION="-wb50n_sysd"
CONFIG_FIT_SIGNATURE_MAX_SIZE=0x800000
CONFIG_MTDPARTS_DEFAULT="mtdparts=atmel_nand:128k(u-boot-spl)ro,1M(u-boot)ro,128k(u-boot-env-a),128k(u-boot-env-b),129152k(ubi)"
