#include <configs/som60sd_defconfig>

CONFIG_TARGET_SOM60=n
CONFIG_TARGET_WB50N=y
CONFIG_DEFAULT_DEVICE_TREE="at91-wb50n_sysd"
CONFIG_LOCALVERSION="-wb50nsd_sysd"
CONFIG_CMD_NAND=n
CONFIG_CMD_MTDPARTS=n
CONFIG_MTD=n
CONFIG_MTD_RAW_NAND=n
CONFIG_SYS_NAND_DRIVER_ECC_LAYOUT=n
CONFIG_NAND_ATMEL=n
CONFIG_ATMEL_NAND_HW_PMECC=n
CONFIG_SYS_NAND_ONFI_DETECTION=n
